.maintitle {
     
    font-size: 5rem;
    padding-top: 3%;
    margin-bottom: 2%;
}

.mainpara{
    
    font-size: 1.4rem;
    margin-bottom: 5%;
    margin-right: 25%;
    line-height: 1.8em;
}

img {
    
    width: 100%;
    
}

.display1{
    
    width: 100%;
    margin-bottom: 7%;
}

.subtitle {
    font-size: 2.5rem;
    margin-bottom: 2%;
}

.wireframe1 {
    
    margin-bottom: 3%;
}

.wireframe2 {
    
    margin-bottom: 7%;
}
.design {
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 50px;
    margin-bottom: 10%;
}

.contenth {
    
 font-size: 2rem;
margin-bottom: 4%;
    
}
.design2 {
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 50px;
    margin-bottom: 10%; 
}




@media (max-width: 600px) { 

.maintitle {
     
    font-size: 2rem;
    padding-top: 9%;
    margin-bottom: 7%;
}

.mainpara{
    
    font-size: .9rem;
    margin-bottom: 11%;
    margin-right: 10%;
    line-height: 1.7em;
}

img {
    
    width: 100%;
    
}

.display1{
    
    width: 100%;
    margin-bottom: 11%;
}

.subtitle {
    font-size: 1.5rem;
    margin-bottom: 5%;
}

.wireframe1 {
    
    margin-bottom: 5%;
}

.wireframe2 {
    
    margin-bottom: 11%;
}

.design {
    
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 20px;
    margin-bottom: 12%;
}

.contenth {
    
 font-size: 1.5rem;
margin-bottom: 5%;
    margin-top: 10%;
    
}
.design2 {
    
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 20px;
    margin-bottom: 12%; 

}
}